html {
    background-color: #fff;
    padding: 10px;
    margin: 0;
    background-color: rgb(100, 100, 100);
}

body {
    color: #333;
    font: 12px/20px "Liberation Sans", verdana, arial, sans;
    left: 50%;
    margin: 0 0 0 -450px;
    padding: 0;
    position: absolute;
    width: 900px;
}

div.wiz {
    background-color: white;
    padding: 2em;
    margin-bottom: 1em;
/*
    border: 2em;
    -moz-border-radius: 15px;
    border-radius: 15px;
*/
}

section#main {
    width: 600px;
}

aside {
    float: right;
    margin-left: 620px;
    position: absolute;
    top: 106px;
    width: 230px;
}

a {
    color: #696;
    text-decoration: none;
}

a.toc-backref, a.aside-pl {
    color: #666;
}

a:hover {
    text-decoration: underline;
}

table {
    margin: 0;
    padding: 0;
}

p {
    text-align: justify;
    margin: 10px 0;
    padding: 0;
}

tt {
    color: #000;
    background-color: #f0f0f0;
}

pre {
    line-height: 16px;
}

ul {
    margin: 10px 0 10px 20px;
    padding: 0;
}

@media screen and (max-width: 920px) {
    body {
        margin-left: -390px;
        width: 780px;
    }

    section#main {
        width: inherit;
    }

    aside {
        float: none;
        margin-left: 0;
        position: relative;
        top: 0;
        width: inherit;
    }
}

@media screen and (max-width: 780px), print {
    html {
        padding: 0;
    }

    body {
        margin-left: -230px;
        width: 460px;
    }

    header {
        border-top: 0 !important;
        padding-bottom: 0 !important;
    }

    header p {
        display: none;
    }

    section#main {
        width: inherit;
    }

    aside {
        float: none;
        margin-left: 0;
        position: relative;
        top: 0;
        width: inherit;
    }
}

@media print {
    section p a:link:after, section p a:visited:after {
        content: " (" attr(href) ") ";
        font-size: 90%;
    }
}

header, footer {
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

/*
 * Global header style
 */

header {
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
}

header h1, header p {
    clear: both;
    margin: 0;
    text-align: center;
}

header p {
    font-family: "Liberation Mono", monospace;
}

header h1 {
    color: #6a6;
    font-size: 32px;
    font-weight: bold;
    line-height: 50px;
    padding: 0 4px;
    top: 10px;
}

header h1 a {
    color: inherit;
}

/*
 * Main content style
 */

section#main {
    background-color: #fff;
    clear: both;
}

section#main h1, section#main h2, section#main h3,
section#main h4, section#main h5 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    color: #666;
    font-weight: normal;
}

cite {
/*    color: #33c; */
    font-style: normal;
}

h1 {
    font-size: 30px;
    line-height: 30px;
}

h2 {
    font-size: 24px;
    line-height: 24px;
}

h3 {
    font-size: 18px;
    line-height: 18px;
}

h4 {
    font-size: 14px;
    line-height: 14px;
}

h5 {
    font-size: 12px;
    line-height: 12px;
}

body.highlight {
    background-color: #fff;
}

div.highlight {
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #d0d0d0;
    margin: 6px 0;
    width: 99.5%;
}

div.highlight pre {
    background-color: #ddd;
    /*background-color: #eee;*/
    margin: 3px;
    padding: 3px;
}

p.post_info {
    color: #999;
    margin-top: -16px;
    margin-bottom: 10px;
}

p.post_info span.author, p.post_info span.modified {
    color: #66a;
}

/*
 * Global sidebar style
 */

aside h4 {
    border-bottom: 1px solid #ccc;
    color: #6a6;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
}

aside h4 {
    margin-bottom: 0;
}

span.datetime {
    font-size: 10px;
    color: #666;
}

/*
 * Global footer style
 */

footer {
    margin-top: 10px;
    text-align: center;
}

footer img {
    vertical-align: text-top;
}


p.admonition-title {
    /* visibility: hidden; */
    font-size: 16px;
    font-weight: bold;
}


div.attention, div.caution, div.danger, div.error,
div.hint, div.important, div.note, div.tip, div.warning {
    -moz-border-radius: 15px;
    border-radius: 15px;

    padding: 1em;
    border: 1px;
    border-style: solid;
    color: #000;
    margin-bottom: 1em;
}

div.attention {
    background-color: #FAF;
}

div.caution {
    background-color: #F97;
}

div.danger {
    background-color: #F33;
}

div.error {
    background-color: #F66;
}

div.hint {
    background-color: #BFB;
}

div.important {
    background-color: #BBF;
}

div.note {
    background-color: #FFB;
}

div.tip {
    background-color: #BFB;
}

div.warning {
    background-color: #F72;
}
