<!DOCTYPE html>
<html>
<head>
<!--    <link rel="shortcut icon" href="{{static_url}}/favicon.png"
type="image/png" /> -->
    <link rel="stylesheet" type="text/css" href="{{static_url}}/basic.css" />
    <link rel="stylesheet" type="text/css" href="{{static_url}}/nature.css" />
    <link rel="stylesheet" type="text/css" href="{{static_url}}/pygments.css" />
    <!--
    <link rel="stylesheet" type="text/css" href="{{static_url}}/main.css" />
    <link rel="stylesheet" type="text/css" href="{{static_url}}/pygments-default.css" />
    -->
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>{% block title %} Blog {% endblock %}</title>
</head>
<body>

<div class="related">

{% block header %}

{{ blog_name|safe }}
{% block midheader %}

{% endblock %}

{% endblock %}
</div>

<div class="nature-document">

<div class="documentwrapper">
<div class="bodywrapper">
<div class="body">


<div class="section">
{% block main %}

{% endblock %}
</div>


</div>
</div>
</div>

<div class="sphinxsidebar">
<div class="sphinxsidebarwrapper">

    {% block aside %}

    <h4> Looks pretty empty to me </h4>

    {% endblock %}

</div>
</div>

<div class="clearer"></div>

</div>

<div class="related">
    Hoi
</div>

<div class="footer">
{% block footer %}

Powered by Python and PWBlog | Designed ripped from <a href="http://blog.kompiler.org">blog.kompiler.org</a>

{% endblock %}

</div>

</body>
</html>

