<!DOCTYPE html>
<html>
<head>
<!--    <link rel="shortcut icon" href="{{static_url}}/favicon.png"
type="image/png" /> -->
    <link rel="stylesheet" type="text/css" href="{{static_url}}/basic.css" />
    <link rel="stylesheet" type="text/css" href="{{static_url}}/nature.css" />
    <link rel="stylesheet" type="text/css" href="{{static_url}}/pygments.css" />
    <!--
    <link rel="stylesheet" type="text/css" href="{{static_url}}/main.css" />
    <link rel="stylesheet" type="text/css" href="{{static_url}}/pygments-default.css" />
    -->
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>{% block title %} Blog {% endblock %}</title>
</head>
<body>

<div class="related" style="padding-left: 5px">
{% block header %}
<div> <a href="//wizzup.org">Wizzup.org</a>
      <a href="//blog.wizzup.org/">Blog</a>: »
    {%block article_name%}
    {%endblock%}
</div>

{# {{ blog_name|safe }} #}
{% endblock %}
</div>

<div class="nature-document">

<div class="documentwrapper">
<div class="bodywrapper">
<div class="body">


<div class="section">
{% block main %}

{% endblock %}
</div>


</div>
</div>
</div>

<div class="sphinxsidebar">
<div class="sphinxsidebarwrapper">

    {% block aside %}

    <h4> Looks pretty empty to me </h4>

    {% endblock %}

</div>
</div>

<div class="clearer"></div>

</div>

<div class="related" style="padding-left: 5px">
<div> <a href="//wizzup.org">Wizzup.org</a>
    <a href="//blog.wizzup.org/">Blog</a>: »
</div>
</div>

<div class="footer">
{% block footer %}

Powered by Python and PWBlog | Merlijn Wajer, 2011

{% endblock %}

</div>

</body>
</html>

