<!DOCTYPE html>
<html>
<head>
<!--    <link rel="shortcut icon" href="{{static_url}}/favicon.png"
type="image/png" /> -->
    <link rel="stylesheet" type="text/css" href="{{static_url}}/main.css" />
    <link rel="stylesheet" type="text/css" href="{{static_url}}/pygments-default.css" />
    <meta charset="utf-8"/>
    <title>{% block title %} Blog {% endblock %}</title>
</head>
<body>

<header>
{% block header %}

{{ blog_name|safe }}

{% endblock %}
</header>

<section id="main">
{% block main %}

{% endblock %}
</section>

<aside>
{% block aside %}

<h4> Other posts </h4>
<ul>
    <li> TODO </li>
</ul>

{% endblock %}
</aside>

<footer>
{% block footer %}

Powered by Python and PWBlog

{% endblock %}
</footer>


</body>
</html>

