{% extends "base.jinja2" %}

{% block title %}
All posts tagged: {{ category }}
{% endblock %}

{% block midheader %}
{% endblock %}

{% block main %}


<div class="document" id="category {{ category }}">
    <h1 class="title"> Category: {{ category}}</h1>

<div class="contents topic" id="contents">
    <p class="topic-title first"> All posts tagged {{category}}: </p>
</div>

{% for x in blogs %}

    <div class="section" id="your-first-pwblog-page">
    <h2>
        <a href="{{base_url}}/blog/{{x.shortname}}">{{ x.title }}</a>
    </h2>

    <p> by: {{ x.author.name }} on {{ x.creation_date.strftime("%A, %d %B %Y") }}. </p>

    <p>
    </p>

    </div>

{% endfor %}

</div>

{% endblock %}

{% block aside %}

<h4> Recent posts </h4>
<ul>
    {% for x in related %}
    <li>
        <span class="datetime">
            {{ x.creation_date.strftime('%a %d. %b %Y') }}
        </span>
        <a class="aside-pl" href="{{base_url}}/blog/{{ x.shortname }}">{{ x.title }}</a>
    </li>
    {% endfor %}
</ul>

<h4> Links </h4>

<ul>
    {% for x in related_page %}
    <li>
        <span class="datetime">
            {{ x.creation_date.strftime('%a %d. %b %Y') }}
        </span>
        <a class="aside-pl" href="{{base_url}}/page/{{ x.shortname }}">{{ x.title }}</a>
    </li>
    {% endfor %}
</ul>

<h4> Categories </h4>
<ul>
    {% for x in categories %}
    <li>
    <a class="aside-pl" href="{{base_url}}/category/{{ x.name }}">{{ x.name }}</a>
    </li>
    {% endfor %}
</ul>

{% if content %}
{{ content|safe }}
{% endif %}

{% endblock %}

