{% extends "base.jinja2" %}

{% block title %}
{{ post.title }} by {{ post.author.name }}
{% endblock %}

{% block main %}

<h4> by {{ post.author.name }} </h4>

{# Don't escape the body - it's HTML :-) #}
{{ post.html_data|safe }}

{% endblock %}

{% block aside %}

<h4> Links </h4>

<ul>
    {% for x in related_page %}
    <li>
        <span class="datetime">
            {{ x.creation_date.strftime('%a %d. %b %Y') }}
        </span>
        <a href="{{base_url}}/page/{{ x.shortname }}">{{ x.title }}</a>
    </li>
    {% endfor %}
</ul>

<h4> Other posts </h4>
<ul>
    {% for x in related %}
    <li>
        <span class="datetime">
            {{ x.creation_date.strftime('%a %d. %b %Y') }}
        </span>
        <a href="{{base_url}}/blog/{{ x.shortname }}">{{ x.title }}</a>
    </li>
    {% endfor %}
</ul>

<h4> Categories </h4>
<ul>
    {% for x in categories %}
    <li>
    <a href="{{base_url}}/category/{{ x.name }}">{{ x.name }}</a>
    </li>
    {% endfor %}
</ul>

{% if content %}
{{ content|safe }}
{% endif %}

{% endblock %}
