{% extends "base.jinja2" %}

{% block title %}
{{ post.title }} by {{ post.author.name }}
{% endblock %}

{% block article_name %}

<a href="{{baseur_url}}/blog/{{post.shortname}}">
    {{ post.title }}
</a>

<i>
    ( {{ post.creation_date.strftime("%A, %d %B %Y") }}
    by <a href="{{base_url}}/user/{{post.author.name}}">{{ post.author.name
        }})</a>
</i>
{% endblock %}

{% block main %}


{# Don't escape the body - it's HTML :-) #}
{{ post.html_data|safe }}

{% endblock %}

{% block aside %}

<h4> Recent posts </h4>
<ul>
    {% for x in related %}
    <li>
        <span class="datetime">
            {{ x.creation_date.strftime('%a %d. %b %Y') }}
        </span>
        <a class="aside-pl" href="{{base_url}}/blog/{{ x.shortname }}">{{ x.title }}</a>
    </li>
    {% endfor %}
</ul>

<h4> Links </h4>

<ul>
    {% for x in related_page %}
    <li>
        <span class="datetime">
            {{ x.creation_date.strftime('%a %d. %b %Y') }}
        </span>
        <a class="aside-pl" href="{{base_url}}/page/{{ x.shortname }}">{{ x.title }}</a>
    </li>
    {% endfor %}
</ul>

<h4> Categories </h4>
<ul>
    {% for x in categories %}
    <li>
    <a class="aside-pl" href="{{base_url}}/category/{{ x.name }}">{{ x.name }}</a>
    </li>
    {% endfor %}
</ul>

{% if content %}
{{ content|safe }}
{% endif %}

{% endblock %}
